<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>

    h3{
      color: red;
      text-align: center;
    }

    body{
      background-color: yellow;
    }

    .cal-form{
      color: green;
      text-align: center;
      float: middle;
    }
  </style>
</head>
<body>
  
  <h3> Welcome to Calculator APP </h3>

  <div class = "cal-form">
   
    <form action="{{url_for('calculator')}}" method="POST">

      <label>Enter Num1: </label> <br>

      <input type="text" id="num1" name="num1"> <br>

      <label>Enter Num2: </label> <br>

      <input type="text" id="num2" name="num2"> <br>

      
      <label>Symbol: </label> <br>

      <input type="text" id="op" name="op"> <br> <br>

      <button id="submit" name="submit-name" value="SUBMIT"> SUBMIT </button>





    </form>

  </div>
</body>
</html>